{% extends "base.html" %}
{% block title %} - Events{% endblock %}
{% block content %}
<div class="container">
  <h1>Events</h1>
  {% if events %}
  <table id="events" class="table">
    <thead>
      <tr>
        <th>Event Date</th>
        <th>Calltime</th>
        <th>Band</th>
        <th>Event Type</th>
        <th>Opponent</th>
        <th>Details</th>
        {% if user.is_director or user.is_admin %}<th>Edit</th>{% endif %}
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <td>{{ event.date.strftime('%a %b %d, %I:%M%p') }}</td>
        <td>{% if event.calltime %}{{ event.calltime.strftime('%I:%M%p') }}{% endif %}</td>
        <td>{{ event.band.name }}</td>
        <td>{{ event.event_type.name }}</td>
        <td>{{ event.opponent }}</td>
        <td><a href="{{ url_for('event', event_id=event.id) }}">Details</a></td>
        {% if user.is_director or user.is_admin %}
          <td><a href="{{ url_for('event_edit', event_id=event.id) }}">Edit</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p><em>No events found.</p>
  {% endif %}
  <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('event_new') }}">Create Event</a></p>
  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
{% endblock %}
