<strong>Band:</strong> {{ req.band.name }}<br>
<strong>Event Type:</strong> {{ req.event.event_type.name }}<br>
<strong>Opponent:</strong> {{ req.event.opponent }}<br>
<strong>Date:</strong> {{ req.event.date.strftime('%a %b %d') }}<br>
<strong>Calltime:</strong> {{ req.event.calltime.strftime('%I:%M%p') }}<br>
<strong>Instrument:</strong> {{ req.instrument.name }}<br>
<strong>Part:</strong> {{ req.part }}<br>
<strong>Poster:</strong> {{ req.poster.first_name }} {{ req.poster.last_name }}<br>
{% if req.sub %}
  <strong>Sub:</strong> {{ req.sub.first_name}} {{ req.sub.last_name }}
{% endif %}
<strong>Info:</strong> {{ req.info }}<br>
