{% extends "base.html" %}
{% block title %} - Confirm Pickup{% endblock %}
{% block content %}
<div class="container">
  <h1>Are you sure?</h1>
  <p>Please review the details below and confirm that you want to pick up this event</p>
  <p>{% include 'request/base_info.html' %}</p>
  <p>
  <form role="form" action="{{ url_for('req', request_id=req.id) }}" method="POST">
    <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('req', request_id=req.id) }}'">Cancel</button>
    <button type="submit" class="btn btn-primary">Confirm Pickup</button>
  </form>
  </p>

  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
{% endblock %}
