<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>UMMBNet{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="description" content="UMMBNet">
    <meta name="keywords" content="ummb">
    <meta name="author" content="Kevan Ahlquist">
    <meta charset="utf-8">

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ummbNet.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46527915-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse-1">
          <span class="sr-only">Toggle navigation></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">UMMBNet ßeta</a>
      </div>
      <div class="collapse navbar-collapse" id="nav-collapse-1">
        {% block navbar_right %}
        {% if session.logged_in %}
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Requests<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('requests') }}">View Requests</a></li>
                <li><a href="{{ url_for('newrequest') }}">Add a New Request</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('user', username=user.username) }}">Profile</a></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
           {% else %}
          <li><a href="{{ url_for('login') }}">Login or Signup</a></li>
          {% endif %}
        </ul>
        {% endblock %}
      </div><!--/.nav-collapse -->
    </nav>
    {% endblock %}
    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; UMMBNet 2014</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>