{% extends "base.html" %}
{% block title %} - New User{% endblock %}
{% block content %}
<div class="container">
  <h2>{% if form.event_id.data %}Update an{% else %}Create a new{% endif %} event</h2>
  {% if error %}<p class=error><strong>Error:</strong></p> {{ error }}{% endif %}
  <form action="{% if form.event_id.data %}{{ url_for('editevent') }}{% else %}{{ url_for('newevent') }}{% endif %}" method='POST'>
    {{ form.hidden_tag() }}
    <div class="form-group col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      {{ form.date.label }}
      {{ form.date(class="form-control") }}
    </div>
    <div class="form-group col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      {{ form.band_id.label }}
      {{ form.band_id(class="form-control") }}
    </div>
    <div class="form-group col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      {{ form.event_type_id.label }}
      {{ form.event_type_id(class="form-control") }}
    </div>
    <div class="container col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('events') }}'">Back to Events</button>
      <button type="submit" class="btn btn-primary">{% if form.event_id.data %}Update{% else %}Create{% endif %} Event</button>
    </div>
  </form>
</div>
{% endblock %}
