{% extends "base.html" %}
{% block title %} - Edit Event{% endblock %}
{% block content %}
<div class="container">
  <h1>Edit Event</h1>
  {% if error %}<p class=error><strong>Error:</strong></p> {{ error }}{% endif %}
  <form action="{{ url_for('editevent') }}" method='POST'>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="datetime-local" class="form-control" name="date" id="date" value="{{ event.date.strftime('%Y-%m-%dT%H:%M') }}">
    </div>
    <div class="form-group">
      <label for="band">Band:</label>
      <select class="form-control" name="band" id="band">
        {% for band in bands %}
        <option value="{{ band.id }}" {% if band.id == event.band.id %}selected{% endif %}>{{ band.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="event_type">Event Type:</label>
      <select class="form-control" name="event_type" id="event_type">
        {% for event_type in event_types %}
        <option value="{{ event_type.id }}" {% if event_type.id == event.event_type_id %}selected{% endif %}>{{ event_type.name }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="hidden" name="event_id" value="{{ event.id }}">
    <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('event', event_id=event.id) }}'">Cancel</button>
    <button type="submit" class="btn btn-primary">Update Event</button>
  </form>
</div>
{% endblock %}