{% extends "base.html" %}
{% block title %} - Event{% endblock %}
{% block content %}
<div class="container">
  <h1>Event</h1>
  <p>Date: {{ event.date.strftime('%a %b %d, %I:%M%p') }}<br>
     Calltime: {% if event.calltime %}{{ event.calltime.strftime('%I:%M%p') }}{% else %}TBD{% endif %}<br>
     Band: {{ event.band.name }}<br>
     Event Type: {{ event.event_type.name  }}<br>
  </p>
  <div class="panel panel-primary">
    <div class="panel-heading">Requests</div>
      <div class="panel-body">
        {% if event.requests %}
        <table id="requests" class="table">
          <thead>
            <tr>
              <th>Instrument</th>
              <th>Part</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
          {% for req in event.requests %}
            <tr>
              <td>{{ req.instrument.name }}</td>
              <td>{{ req.part }}</td>
              <td><a href="{{ url_for('req', request_id=req.id) }}">Details</a></td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p><em>No requests found.</em></p>
        {% endif %}
      </div>
  </div>
  <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('events') }}'">Back to Events</button>
  {% if user.is_director or user.is_admin %}
    <button type="submit" class="btn btn-primary" onclick="location.href='{{ url_for('event_edit', event_id=event.id) }}'">Edit</button>
  {% endif %}
  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
{% endblock %}
