{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<div class="container">
  {% if not session.logged_in %}
  <div class="jumbotron">
    <h1>Welcome to ummbNet</h1>
    <p>This app is for members of UMN Pep Bands. It serves as a request board to pick up and drop events.</p>
    <p>It is still experimental. If you find any issues let me know at <a href="mailto:kevan@ummb.net">kevan@ummb.net</a>.</p>
    <p>To get started click below and create an account.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('login') }}">Login or Signup</a></p>
  </div><!--jumbotron-->
  {% else %}
  <div class="jumbotron">
    <h1>Get started</h1>
    <p>You can find requests in the menu bar, or the buttons below.</p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('requests') }}">View Requests</a>
      <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('newrequest') }}">Create a request</a>
    </p>
  </div><!--jumbotron-->
  {% endif %}
</div>
{% endblock %}
