{% extends "base.html" %}
{% block title %} - Login{% endblock %}
{% block content %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method='POST'>
    <dl>
      <dt>Username:</dt>
      <dd><input type="text" name="username"></dd>
      <dt>Password:</dt>
      <dd><input type="password" name="password"></dd>
      <dd><input type="submit" value="Login"></dd>
      <dd><a href="{{ url_for('newuser') }}">Sign up</a></dd>
    </dl>
  </form>
{% endblock %}