{% extends "base.html" %}
{% block title %} - New Request{% endblock %}
{% block content %}
<div class="container">
  <h2>Create a new request</h2>
  {% if error %}<p class=error><strong>Error:</strong></p> {{ error }}{% endif %}
  <form action="{{ url_for('newrequest') }}" method='POST'>
    <dl>
      <dt>Band:</dt>
      <dd>
        <select name="band">
          {% for band in bands %}
          <option value="{{ band.id }}">{{ band.name }}</option>
          {% endfor %}
        </select>
      </dd>
      <dt>Event:</dt>
      <dd>
        <select name="event">
          {% for event in events %}
            <option value="{{ event.id }}">{{ event.eventtype.name }} {{ event.date }}</option>
          {% endfor %}
        </select>
      </dd>
      <dt>Instrument</dt>
      <dd>
        <select name="instrument">
          {% for instr in instruments %}
          <option value="{{ instr.id }}">{{ instr.name }}</option>
          {% endfor %}
        </select>
      </dd>
      <dt>Part:</dt>
      <dd><input type="text" name="part"></dd>
      <dd><input type="submit" value="Create Request"></dd>
    </dl>
  </form>
</div>
{% endblock %}
