{% extends "base.html" %}
{% block title %} - New Request{% endblock %}
{% block content %}
<div class="container">
  <h2>Create a new request</h2>
  {% if error %}<p class=error><strong>Error:</strong></p> {{ error }}{% endif %}
  <form role="form" action="{{ url_for('newrequest') }}" method='POST'>
    <div class="form-group">
      <label for="band">Band:</label>
        <select class="form-control" name="band" id="band">
          {% for band in bands %}
          <option value="{{ band.id }}">{{ band.name }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <label for="event">Event:</label>
        <select class="form-control" name="event" id="event">
          {% for event in events %}
            <option value="{{ event.id }}">{{ event.event_type.name }} {{ event.date.strftime('%a %b %d, %I:%M%p') }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <label for="instrument">Instrument</label>
        <select class="form-control" name="instrument" id="instrument">
          {% for instr in instruments %}
          <option value="{{ instr.id }}">{{ instr.name }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <label for="part">Part:</label>
      <input type="text" class="form-control" name="part" id="part">
    </div>
      <button type="button" class="btn btn-default" onclick="location.href='{{ url_for('requests') }}'">Back to Requests</button>
      <button type="submit" class="btn btn-primary">Create Request</button>
  </form>
</div>
{% endblock %}
