{% extends "base.html" %}
{% block title %} - Request{% endblock %}
{% block content %}
<div class="container">
  <h1>Request</h1>
  <p>Band: {{ req.event.band.name }}<br>
     Event: {{ req.event.event_type.name  }}<br>
     Date: {{ req.event.date.strftime('%a %b %d, %I:%M%p') }}<br>
     Instrument: {{ req.instrument.name }}<br>
     Part: {{ req.part }}<br>
     Poster: {% if req.poster.nickname %}
              {{ req.poster.nickname }}
              {% else %}
              {{ req.poster.first_name }}
              {% endif %}<br>
    {% if req.sub %}
      Sub: {% if req.sub.nickname %}
            {{ req.sub.nickname }}
            {% else %}
            {{ req.sub.first_name }}
            {% endif %}
    {% endif %}
  </p>
  <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('requests') }}'">Back to Requests</button>
  <button type="button" class="btn btn-default btn-primary" onclick="location.href='{{ url_for('req_pickup_confirm', request_id=req.id) }}'">Pick up</button>
  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
{% endblock %}
