{% extends "base.html" %}
{% block title %} - Password Reset{% endblock %}
{% block content %}
<div class="container">
  {% if sent == True %}
  <h1>Reset successful</h1>
  <p>Please check your email for a message from us with futher instructions</p>
  {% else %}
  <h1>Password Reset</h1>
  <div class="col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      <p>To reset your password please enter your username and email address that you registered with.<br>You will receive an email with further instructions.</p>
  </div>
  <form role="form" action="{{ url_for('reset_pw') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      {{ form.username.label }}
      {{ form.username(class='form-control', placeholder='Username') }}
      {% for error in form.errors.username %}
        <span class="alert-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      {{ form.email.label }}
      {{ form.email(class='form-control', placeholder='Email') }}
      {% for error in form.errors.email %}
        <span class="alert-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
      <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('login') }}'">Cancel</button>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>
  {% endif %}
  <div class="container col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4">
    <p><a href="{{ url_for('index') }}">home</a></p>
  </div>
</div>
  
{% endblock %}
