{% extends "base.html" %}
{% block title %} - Password Reset{% endblock %}
{% block content %}
<div class="container">
  {% if sent == True %}
  <h1>Reset successful</h1>
  <p>Please check your email for a message from us with futher instructions</p>
  {% else %}
  <h1>Password Reset</h1>
  <p>To reset your password please enter your username and email address that you registered with. You will receive an email with further instructions.</p>
  {% if error %}<p class=error><strong>Error:</strong></p> <p>{{ error }}</p>{% endif %}
  <form role="form" action="{{ url_for('reset_pw') }}" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ url_for('login') }}'">Cancel</button>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
  {% endif %}
  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
  
{% endblock %}
