{% extends "base.html" %}
{% block title %} - Set Password{% endblock %}
{% block content %}
<div class="container">
  <h1>Set Password</h1>
  <form role="form" action="{{ url_for('set_pw') }}" method="POST">
    <div class="form-group">
      <label for="password1">Select a new password:</label>
      <input type="password" class="form-control" name="password1" id="password1">
    </div>
    <div class="form-group">
      <label for="password2">Please re-enter your new password:</label>
      <input type="password" class="form-control" name="password2" id="password2">
    </div>
    <input type="hidden" name="k" value="{{ key }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <button type="submit" class="btn btn-primary">Set Password</button>
  </form>
  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
{% endblock %}
