{% extends "base.html" %}
{% block title %} - {{ user.username }}{% endblock %}
{% block content %}
  <h1>{{ user.username }}</h1>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Nickname: {{ user.nickname }}</p>
  <p>Email: {{ user.email }}</p>
  <h2>Instruments</h2>
  <ul>
  {% for instrument in instruments %}
    <li>{{ instrument.name }}</li>
  {% endfor %}
  </ul>
  <h2>Requests</h2>
  <ul>
  {% for req in requests %}
  <li>{{ req.event.band.name }} {{ req.event.eventtype.name }} {{ req.event.date }} {{ req.instrument.name }} {{ req.part }}</li>
  {% endfor %}
  </ul>
  <p><a href="{{ url_for('index') }}">home</a></p>
{% endblock %}
