{% extends "base.html" %}
{% block title %} - Users{% endblock %}
{% block content %}
<div class="container">
  <h1>Users</h1>
  <table id="users" class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Nickname</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td><a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.nickname }}</td>
        <td>
          {% if user.instruments[0] %}
          {{ user.instruments[0].name }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <p><a href="{{ url_for('index') }}">home</a></p>
</div>
{% endblock %}
